:root {
    --max-width: 1280px;

}

* {
    box-sizing: border-box;
}

body {
    background-color: pink;
    display: flex;
    margin: 0;
    justify-content: center;
}

p {

    font-size: 1rem;
}

main {
    margin: 2rem;
    margin-top: 0;
    max-width: var(--max-width);
    width: fit-content;
    background-color: white;
}

figure {
    margin: 0;
    max-width: var(--max-width);
}

.top {
    object-fit: cover;
    max-height: 500px;
    width: 100%;
    border: 0, 8rem solid white;
}

section {
    margin: 0 1rem;
    border: 1rem solid white;
}


h1 {
    margin: 1rem;
    color: darkred;
}

.greybox {
    margin: 2rem;
    ;
    background-color: lightgrey;
    padding: 1rem;
}


hgroup {

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    p {
        margin-left: 1rem;
    }
}


.imagecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.img3 {
    margin: 1rem;
    width: 350px;
    height: 300px;

    object-fit: cover;

}

@media (max-width: 500px) {
    body {
        background-color: white;

    }


    .img3 {
        height: 467px;
        width: auto;
        margin-top: 0;
        object-fit: cover;
    }

}